<div class="big-card" style="background-image: url(<%= image_path("grains.jpg") %>)">
    <div ></div>
    <div class="big-card-text">
        <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) %>
             <h1>Login</h1>
            <br>
            <p>Username<%=text_field_tag 'username'%> </p><br>
            <p>Password<%= password_field_tag 'password'%> </p><br>
            <%= submit_tag "Log In" %><br>
            <br>
          <%= link_to image_tag("google-blue.png"), root_url + "auth/google_oauth2"%>
            
        
           
        <p>No SubsChef account? </p> <p><%= link_to "Sign up", controller: 'users', action: 'new'%> </p> 
    </div>
</div>  
