

<div class="card-container">
     <% @last_5_substitutions.each |s| do>   
   
            <div class="card">
                <div class="card-info">
                    <h3><%= link_to s.original_ingredient.name, s.original_ingredient %></h3>
                    <em> can be substituted with... </em>
                    <h3> <%= link_to s.sub_ingredient.name, s.sub_ingredient %> </h3>
                    <% if s.user == current_user %>
                        <em> Submitted 
                    <% else %>
                    <em> Submitted by <%= s.user.username %> 
                    <% end %>
                    <%= s.created_at.to_date.strftime("on %d/%m/%Y") %> </em>
                    
                    <% if s.sub_ingredient.vegan %>
                        <p><strong>Vegan Substitute</strong></p>
                    <% elsif s.sub_ingredient.vegetarian %>
                        <p><strong>Vegetarian Substitute</strong></p>
                    <%end%>

                    <p><%= s.description %></p>
                    <p><%= s.issues %></p>
                </div>
                <% if @user == current_user %>
                <div class="card-controls">
                    <%= link_to "edit", controller:"substitutions", action:"edit" %>
                    <br>
                    <%= link_to "delete", controller:"substitutions", action:"destroy", method:"delete" %>
                    <% end %>
                </div>
            </div>
            <br>
        
    <% end %>
 </div>