<h1>Add a New Substitution</h1>

    <%= form_with model:@substitution do |s| %>

        
            <h2>Original Ingredient</h2>
            <%= s.collection_select :original_id, Ingredient.all, :id, :name , :prompt => 'Select or add new Ingredient below' %><br>

                <h4> New ingredient</h4>
                <strong>Ingredient:</strong>
                 <%= s.fields_for :ingredient_original do |i| %>
                        <%= i.hidden_field :user_id, :value => current_user.id %>
                        <%= i.label :name %>
                        <%= i.text_field :name %>
                        <%= i.label :description %>
                        <%= i.text_field :description %>
                        <%= i.label :vegan %>
                        <%= i.check_box :vegan %>
                        <%= i.label :vegetarian %>
                        <%= i.check_box :vegetarian %>
                        <%= i.collection_select :category_id, Category.all, :id, :name, :prompt => 'Select or add a new Category' %>
                 <% end %><br>
                


            <h2>Substitution Ingredient</h2>
            <%= s.collection_select :sub_id, Ingredient.all, :id, :name, :prompt => 'Select or add new Ingredient below'%><br>
                 <h4> New ingredient</h4>
                <strong>Ingredient:</strong>
                 <%= s.fields_for :ingredient_sub do |i| %>
                           <%= i.hidden_field :user_id, :value => current_user.id %>
                        <%= i.label :name %>
                        <%= i.text_field :name %>
                        <%= i.label :description%>
                        <%= i.text_field :description%>
                        <%= i.label :vegan %>
                        <%= i.check_box :vegan %>
                        <%= i.label :vegetarian %>
                        <%= i.check_box :vegetarian %>
                        <%= i.collection_select :category_id, Category.all, :id, :name, :prompt => 'Select or add a new Category' %>
                 <% end %><br>
               
        
    <h2>Substitution Details</h2>
    <%= s.hidden_field :user_id, :value => current_user.id %>
    <%= s.label :same_quantity, "Should you use a 1:1 ratio?"%><br>
    <%= s.check_box :same_quantity %><br>

    <%= s.label :description, "Provide futher details if needed" %><br>
    <%= s.text_field :description %><br>
    <%= s.label :issues, "Any issues to consider?" %><br>
    <%= s.text_field :issues %><br>

    <%= s.submit "Submit Substitution" %>

    <% end %>




