<h1>Add a New Substitution</h1>

    <%= form_with model:@substitution do |s| %>

        <%= s.fields_for :ingredient do |i| %>
            <h2>Original Ingredient</h2>
            <%= i.collection_select :ingredient, Ingredient.all, :id, :name %><br>
            <h2>Substitution Ingredient</h2>
            <%= i.collection_select :ingredient, Ingredient.all, :id, :name %><br>
        <% end %>
    <h2>Substitution Details</h2>
    <%= s.label :same_quantity, "Should you use a 1:1 ratio?"%><br>
    <%= s.check_box :same_quantity %><br>

    <%= s.label :description, "Provide futher details if needed" %><br>
    <%= s.text_field :description %><br>
    <%= s.label :issues, "Any issues to consider?" %><br>
    <%= s.text_field :issues %><br>

    <%= s.submit "Submit Substitution" %>

    <% end %>





      t.integer :original_id
      t.integer :sub_id
      t.string :description
      t.string :issues
      t.boolean :same_quantity, :default => false
      t.integer :user_id
      t.timestamps

