<h1> <%= @substitution.original.name %> can be swapped for <%= @substitution.sub.name %> </h1>
<h2> Submitted by <%= @substitution.user.username %> on <%=@substitution.created_at.to_date.strftime("%m/%d/%Y")%> </h2>
<p><%= @substitution.description %> </p>
<p><%= @substitution.issues %> </p>


<% if @substitution.sub.vegan %>
     <p><strong>Vegan Substitute!</strong></p>
     <% elsif @substitution.sub.vegetarian %>
    <p><strong>Vegetarian Substitute!</strong></p>
<%end%>


