 <h1>Sign Up for a SwapChef account or login via <%= link_to "Google ", root_url + "auth/google_oauth2"%></h1>
    <strong>Joining allows you to contribute your own substitutions and provide other chefs with your own ideas!</strong>
   

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3 class="error-text">
      <%= pluralize(@user.errors.count, "error") %>
      prohibited your account from being created:
    </h3>
 
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <%= form_for @user do |f| %>
      <p>Username: <%= f.text_field :username, required: true%></p>
      <p>Password: <%= f.password_field :password, required: true %></p>
      <p>Confirm Password: <%= f.password_field :password_confirmation, required: true %></p>
      
      <%= f.submit "Create User" %>
    <% end %>


