<h1><%= @user.username %>'s Profile</h1>
<h2>Joined the site <%=@user.created_at.to_date.strftime("on %m/%d/%Y")%></h2>
    <% if !@user.substitutions.present? %>
        <p>Appears when logged in!:You don't appear to have created any substutions yet. Why don't you add one? </p>
    <% else %>
        <% @user.substitutions.each do |s| %>
            <div class="card">
                <h3><%= s.original_ingredient.name %> to <%= s.sub_ingredient.name%></h3>
                <em> Submitted by <%= s.user.username %> <%= s.created_at.to_date.strftime("on %m/%d/%Y") %> </em>
                
                <% if s.sub_ingredient.vegan %>
                    <p><strong>Vegan Substitute!</strong></p>
                <% elsif s.sub_ingredient.vegetarian %>
                    <p><strong>Vegetarian Substitute!</strong></p>
                <%end%>

                <p><%= s.description %></p>
                <p><%= s.issues %></p>

            <h3> Remember to add User controls </h3>
            </div>
        <% end %>
    <% end %>
