<div class="card">
    <div class="card-info">
        <h3><%= link_to s.original_ingredient.name, category_ingredient_url(s.original_ingredient.category,s.original_ingredient.id) %></h3>
        <em> can be substituted with... </em>
        <h3> <%= link_to s.sub_ingredient.name, category_ingredient_url(s.sub_ingredient.category, s.sub_ingredient.id) %> </h3>
        <% if s.user == current_user %>
            <em> Submitted 
        <% else %>
        <em> Submitted by <%= s.user.username %> 
        <% end %>
        <%= s.created_at.to_date.strftime("on %d/%m/%Y") %> </em>
        
        <% if s.sub_ingredient.vegan %>
            <p><strong>Vegan Substitute</strong></p>
        <% elsif s.sub_ingredient.vegetarian %>
            <p><strong>Vegetarian Substitute</strong></p>
        <%end%>

        <p><%= s.description %></p>
        <p><%= s.issues %></p>
    </div>
    <% if belongs_to_current_user(s) %>
        <div class="card-controls">
            <%= link_to "edit", edit_substitution_path(s) %>
            <br>
            <%= link_to "delete", substitution_path(s), method: :delete %>
        </div>
    <% end %>
    
</div>