<%= render 'shared/flash' %>
<h1> <%= @ingredient.name %> </h1>
<p> <%= @ingredient.description %> </p>

<% if !@ingredient.substitutions.present? %>

    <em>No Substitutions available, why not <%= link_to "add one?", controller:"substitutions", action: "new" %></em>

<% else %>

<strong><%= @ingredient.substitutions.size%> substitutions found: </strong>

    <% @ingredient.substitutions.each do |s| %>
    <div class="card-container">
        <%= render "shared/substitution_card", s: s %>
    </div>
    <% end %>

<% end %>
