<%= render 'shared/flash' %>
<h1> <%= @ingredient.name %> </h1>
<p> <%= @ingredient.description %> </p>

<% if !@ingredient.substitutions.present? %>
    <em>No Substitutions available, why not <%= link_to "add one?", new_substitution_url %></em>
<% else %>

<strong><%= @ingredient.substitutions.size%> substitutions found: </strong>

 <div class="card-container">
    <% @ingredient.substitutions.each do |s| %>
        <%= render "shared/substitution_card", s: s %>
    <% end %>
</div>
<% end %>
