<!DOCTYPE html>
<html>
  <head>
    <title>SwapChef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li class="logo"> <%= link_to "SwapChef", controller: "application", action: "welcome" %></li>
        <li> <%= link_to "New Substitution", controller: "substitutions", action: "new" if current_user%></li>
        <li> <%= link_to "Logout", logout_path , method:"delete" if current_user%></li>
         <li><% if current_user %>
                 <%= link_to current_user.username, controller: "users", action: "show", id: current_user.id %> 
               <% else %> 
                  <%=link_to "Signup / Login", controller: "sessions", action: "new" %>
               <% end %>   
        </li>
      </ul>
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
