<!DOCTYPE html>
<html>
  <head>
    <title>SubsChef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="W4pSVFPVt-BZBX1Vj1Ji8BTXGfz_ltshzItNadq639E" />
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li class="logo"> <em><%= link_to "SubsChef", welcome_url %></em></li>
        <li> <%= link_to "New Substitution", new_substitution_url if current_user%></li>
        <li> <%= link_to "View Categories", categories_url %></li>
        <div>
        
         <li><% if current_user %>
                 <%= link_to current_user.username, user_url(current_user.id) %> 
               <% else %> 
                  <%=link_to "Signup / Login", new_session_url %>
               <% end %>   
        </li>
        <li> <%= link_to "Logout", logout_url , method:"delete" if current_user%></li>
        </div>
      </ul>
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
