<!DOCTYPE html>
<html>
  <head>
    <title>SwapChef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <span>SwapChef</span>
    <%=current_user.username if current_user%>
     
    <span> <%= link_to "Login", controller: "sessions", action: "new"  if !current_user%></span>
    <span> <%= link_to "Signup", controller: "users", action: "new"  if !current_user%></span>
    <span> <%= link_to "Logout", logout_path , method:"delete" if current_user%></span>
    <span> <%= link_to "New Substitution", controller: "substitutions", action: "new" if current_user%></span>
    
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
